/* RolesComponent's private CSS styles */
.roles {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.roles li {
  position: relative;
  cursor: pointer;
  /*background-color: beige;*/
  margin: .5em;
  padding: .3em 0;
  height: 6em;
  border-radius: 4px;
}

.roles li img {
  height: 5em;
  margin-top: 0.5em;
}

.roles li:hover {
  color: #607D8B;
  background-color: cornsilk;
  left: .1em;
}

.roles a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.roles a:hover {
  color:#607D8B;
}
